.searchInputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    width: 100%;
}

.clearButton {
    position: absolute;
    right: 25px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #999;
}

.clearButton:hover {
    color: #000;
}
